
:root{
    --red: #d42729;
    --blue: #0157ae;
}
body{
    text-align: center;
}
.landing{
    height: 100vh;
    width: 100vw;
    background-image: url('./images/CindyHeadShot.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.header{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-top: 5vh;
    width: 25vw;
    margin-left: 5vw;
}
.menuContainer{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    margin: 15vh 10vh 0 0;
    text-align: right;
    font-weight: 600;
}
h1{
    font-size: 22px;
}
.socialLink{
    height: 5vh;
}
footer{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    color: white;
}
.footerSections{
    text-align: center;
}
.footerSections > h2 {
    padding: 10px;
    font-size: 22px
}
.aboutContainer{
    background-color: white;
    margin-top: 100vh;
}