
:root{
    --red: #d42729;
    --blue: #0157ae;
}
.header{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 20vw;
    margin-left: 5vw;
}
.menuContainer{
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 26px;
    margin-right: 5vw;
}
h1{
    font-size: 22px;
}
.socialLink{
    height: 5vh;
}
footer{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue);
    color: white;
}
.footerSections{
    text-align: center;
}
.footerSections > h2 {
    padding: 10px;
    font-size: 22px
}